.kmom {
    display: grid;
    grid-gap: 16px;
    justify-content: center;
    grid-template-columns: 20% 70%;

    h1 {
        grid-column: span 2;
        justify-self: right;
    }

    ul {
        list-style-type: none;
    }
}

@media (max-width: 767px) {
    .kmom {
        grid-template-columns: auto;
        grid-gap: 0;
    }

    .report-menu {
        display: none;
    }
}
