$kmom-background: #d4b4b6;
$kmom-header: #876c6e;

.landingpage {
    display: grid;
    grid-gap: 16px;
    justify-content: center;
    grid-template-columns: repeat(3, minmax(0, 1fr));
}

.landingpage h1 {
    grid-column: span 3;
    justify-self: center;
}

.kmom-box.project {
    grid-column: span 3;
}

.kmom-box {
    background-color: $kmom-background;
    border-radius: 5px;
    color: black;
    text-align: center;
    padding-bottom: 0.5rem;

    a {
        color: black;
        font-size: 12px;
        background-color: $header_footer;
        padding: 0.2rem;
        border: #d3d3d3;
        border-radius: 4px;

        &:hover {
            background-color: $base-color;
        }
    }
}

@media (max-width: 767px) {
    .landingpage {
        display: grid;
        grid-template-columns: auto;
    }
    .landingpage h1 {
        grid-column: span 1;
    }

    .kmom-box.project {
        grid-column: span 1;
    }

}