@import '../../shared/fontawesome/scss/fontawesome';

$fa-font-path: '../../shared/fontawesome/webfonts';
@import '../../shared/fontawesome/scss/brands';
@import '../../shared/fontawesome/scss/solid';
@import '../../shared/fontawesome/scss/regular';
@import '../../shared/scss/base';
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;600&display=swap');
@import "nav";
@import "report";


body {
    overflow-y: scroll;
    background-color: $base-color;
    margin: 0 auto !important;
    font-family: 'Comfortaa', cursive;
}

.title,
.logo {
    text-align: center;
    font-family: 'Comfortaa', cursive;
}

.title * {
    margin: 0;
    color: #111;
}

.title p {
    font-style: italic;
}

.logo {
    height: 10.8em;
}

.logo * {
    display: block;
    height: 100%;
}

.logo img {
    min-width: 4.8em;
}

.logo + .title h1 {
    margin: 0.8rem 0;
}

.logo + .title.tagline h1 {
    margin: 0;
}

h1 {
    font-size: 36px;
    text-align: center;
    margin: 0;
}

h2 {
    border-bottom: 2px solid;
}

// Markdown lists
ul li {
    padding: 0.2rem;
}

ul li a {
    color: black;
    text-decoration-line: none;
}

ul li a:hover {
    color: #876C6E;
    text-decoration-line: underline;

}


pre {
    white-space: pre-wrap;
}


.header {
    background-color: $header_footer;
    padding: 1rem;
    margin: 0 auto;
    height: auto;
    color: black;
}


.site-footer {
    background-color: $header_footer;
    padding: 1rem;
    margin: 0 auto;
    height: auto;
    color: black;
}

.site-footer .social {
    float: right;
    font-size: 2rem;
}

.main {
    flex: 1 0 auto;
    padding: 5em 0 4em;

}

.container {
    max-width: 48em;
    padding: 0 0.5em;
    margin: 0 auto;
}

.flash-img {
    width: 100%;
    height: 10rem;
    object-fit: cover;
}

@media (max-width: 767px) {
    .main {
        padding: 2em 0 1em;
    }

    .title, .logo {
        padding: 2em 1.5em 2em 0;
    }

    .logo {
        height: 8.8em;
    }

    .nav {
        clear: both;
        padding: 0;
    }

    .nav ul {
        padding-bottom: 1em;
    }

    .nav ul li {
        display: block;
        margin-left: 0;
        text-align: center;
    }

    .nav ul li a {
        display: block;
        padding: 0.5em 0;
    }

    .js .nav-toggle {
        display: block;
        float: right;
        width: 2em;
        margin: 0.6667em 0;
        font-size: 1.5rem;
        line-height: 2em;
        text-align: center;
        cursor: pointer;
    }

    .js .nav-toggle > * {
        vertical-align: middle;
    }

    .footer p {
        padding: 1em 0;
    }

    .footer .social {
        padding: 0.5em 0 0.5em 1em;
    }
}